<section id="schenken">
    <h2>Schenken</h2>
    <p>Voor het afleveren van fiscale attesten doen wij beroep op vzw Solidariteit om Leven (Lommel). SOL verbindt zich ertoe om alle giften die zij ontvangt voor de vzw Matumaini Katanga door te storten aan de projecten in Katanga en ons maandelijks een overzicht van de ontvangen giften te bezorgen.</p>
    <div>
        <article>
            <h3>Details voor de overschrijving</h3>
            <div>
                <h4>Rekeningnummer</h4>
                <p>BE11 7350 1646 6948</p>
            </div>
            <div>
                <h4>Naam</h4>
                <p>Solidariteit om Leven vzw</p>
            </div>
            <div>
                <h4>BIC/SWIFT</h4>
                <p>KREDBEBB</p>
            </div>
            <div>
                <h4>Adres</h4>
                <p>Stijn Streuvelsstraat 7<br>3920 Lommel</p>
            </div>
            <div>
                <h4>Mededeling</h4>
                <p>Gift voor Matumaini Katanga</p>
            </div>
        </article>
        <article>
            <h3>Fiscale informatie</h3>
            <p>
                Om recht te hebben op een fiscaal attest moet de gift minstens 40 EUR per jaar bedragen. Dit bedrag kan in één keer of in verschillende keren gestort worden (bijvoorbeeld via een permanente opdracht van 3,50 EUR per maand).
            </p>
            <p>
                De stortingen moeten SOL bereiken vóór 25 december van het lopende jaar, anders wordt het attest afgeleverd voor het volgende jaar.
            </p>
            <p>
                <em>Asante sana</em> Bedankt.
            </p>
        </article>
    </div>
</section>
