<footer>
    <h2>Contacteren</h2>
    <h3>Matumaini Katanga vzw</h3>
    <p class="btw">BTW BE22 0016 6731 8347</p>
    <p class="address">
        <a href="https://goo.gl/maps/PbtQwSgrbXr" target="_blank">Waversesteenweg 1<br>3320 Meldert (Hoegaarden)<br>Belgi&euml;</a>
    </p>
    <p class="email">
        <a href="mailto:{{'r.severijns@telenet.be'|safe_email}}">r.severijns@telenet.be</a><br>
        <a href="mailto:{{'sjm.coordinator@telenet.be'|safe_email}}">sjm.coordinator@telenet.be</a>
    </p>
</footer>
