<footer style="background-image: url({{ url('theme://assets/img/background.jpg') }})">
    <div>
        <h2>{{ site.title }} <span>vzw</span></h2>
        <p>
            BTW BE22 0016 6731 8347
        </p>
        <p>
            <a class="address" href="https://goo.gl/maps/PbtQwSgrbXr" target="_blank">Waversesteenweg 1<br>3320 Meldert (Hoegaarden)<br>België</a>
        </p>
    </div>
    <div>
        <h3>Contacteer ons</h3>
        <ul>
            <li><a class="email" href="mailto:r.severijns@telenet.be">r.severijns@telenet.be</a><br></li>
            <li><a class="email" href="mailto:sjm.coordinator@telenet.be">sjm.coordinator@telenet.be</a></li>
        </ul>
    </div>
</footer>
