<section id="hero">
    <h2><span>vzw</span> {{ site.title }}</h2>
    <p>Hoop voor de toekomst!</p>
    <figure>
        <img alt="" src="{{ url('theme://assets/img/background.jpg') }}">
    </figure>
    <script>
    const hero = document.querySelector('#hero figure');
    window.setInterval(() => hero.insertBefore(hero.lastChild, hero.firstChild), 10000);
    {% for image in page.find('/images').media.images %}
    hero.insertBefore(document.createRange().createContextualFragment('<img alt="" src="{{ image.url }}" loading="lazy">'), hero.firstChild);
    {% endfor %}
    </script>
</section>
