@charset "UTF-8";
@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Oswald:700|Homemade+Apple&display=swap");
noscript {
  display: block;
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #f6f6f6;
  background: #c81400;
  padding: 10px 20px;
  font: 700 0.9em "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

body {
  font: 400 1em/1.8em "Open Sans", Arial, sans-serif;
  background: #222;
  color: #222;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 100%;
}

body:after {
  display: block;
  content: " ";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #c81400;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

::-moz-selection {
  background: #c81400;
  color: #ffffff;
}

::selection {
  background: #c81400;
  color: #ffffff;
}

body > header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 30px;
  -webkit-transition: background-color 0.5s ease-out, padding 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s ease-out, padding 0.5s ease-out, -webkit-transform 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out, transform 0.5s ease-out, padding 0.5s ease-out;
  transition: background-color 0.5s ease-out, transform 0.5s ease-out, padding 0.5s ease-out;
  transition: background-color 0.5s ease-out, transform 0.5s ease-out, padding 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

body > header.hidden {
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
}

body > header.invert {
  position: fixed;
  padding: 0;
  background: #f6f6f6;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-animation: header 0.5s ease-out forwards;
          animation: header 0.5s ease-out forwards;
}

body > header.invert ul li:first-of-type a {
  background-image: url(../img/logo.png);
}

body > header.invert ul li:last-of-type a {
  background: #c81400;
  color: #f6f6f6;
}

body > header.invert ul li a {
  color: #222;
}

@media screen and (max-width: 680px) {
  body > header {
    padding: 0;
  }
}

body > header h1 {
  display: none;
}

body > header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 700;
}

body > header ul li {
  overflow: hidden;
}

@media screen and (max-width: 680px) {
  body > header ul li {
    display: none;
  }
}

body > header ul li:first-of-type {
  display: block;
}

body > header ul li:first-of-type a {
  background: transparent url(../img/logo_i.png) no-repeat center left;
  width: 40px;
  background-size: 30px;
  color: transparent;
  white-space: nowrap;
}

body > header ul li:last-of-type {
  display: block;
  margin-left: auto;
  overflow: visible;
}

body > header ul li:last-of-type a {
  position: relative;
  background: #f6f6f6;
  border-radius: 50px;
  text-align: center;
  min-width: 146px;
  padding: 8px 0;
  color: #222;
  -webkit-transition: color 0.5s ease-out, background-color 0.5s ease-out;
  -o-transition: color 0.5s ease-out, background-color 0.5s ease-out;
  transition: color 0.5s ease-out, background-color 0.5s ease-out;
}

body > header ul li:last-of-type a:hover {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  opacity: 1;
  color: #f6f6f6;
  background: #d00;
}

body > header ul li:last-of-type a:hover:after {
  opacity: 1;
  -webkit-transform: rotate(10deg) translateX(20px) translateY(-10px);
      -ms-transform: rotate(10deg) translateX(20px) translateY(-10px);
          transform: rotate(10deg) translateX(20px) translateY(-10px);
}

body > header ul li:last-of-type a:after {
  content: "❤️";
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out, -webkit-transform 0.5s ease-out;
  transition: opacity 0.25s ease-out, -webkit-transform 0.5s ease-out;
  -o-transition: opacity 0.25s ease-out, transform 0.5s ease-out;
  transition: opacity 0.25s ease-out, transform 0.5s ease-out;
  transition: opacity 0.25s ease-out, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

body > header ul li a {
  display: inline-block;
  margin: 0 15px;
  padding: 15px 10px;
  color: #fff;
  -webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

body > header ul li a:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  opacity: 0.7;
  text-decoration: none;
}

body > footer {
  position: relative;
  min-height: 350px;
  background: no-repeat fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px;
  color: #f6f6f6;
}

@media screen and (max-width: 640px) {
  body > footer {
    padding: 20px 20px 90px;
  }
}

body > footer:after {
  display: block;
  content: " ";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background: #222;
  font-size: 0.8em;
}

body > footer a {
  position: relative;
  color: inherit;
}

body > footer a.email:before, body > footer a.address:before {
  position: absolute;
  top: 4px;
  left: -25px;
  display: block;
  content: " ";
  background: transparent url(../img/icn_email.svg) no-repeat left top;
  background-size: 15px;
  width: 20px;
  height: 20px;
}

body > footer a.address:before {
  background-image: url(../img/icn_address.svg);
  background-size: 17px;
  top: 1px;
}

body > footer div {
  position: relative;
  z-index: 5;
  margin-left: 150px;
  margin-bottom: 15px;
}

@media screen and (max-width: 840px) {
  body > footer div {
    margin-left: 45px;
  }
}

body > footer div:first-of-type {
  margin-left: 0;
}

body > footer div h2 {
  background: transparent url(../img/logo_i.png) no-repeat center left;
  background-size: 32px;
  font: 700 1.4em "Oswald", sans-serif;
  padding: 10px 45px;
  text-transform: uppercase;
  color: #fff;
}

body > footer div h2 span {
  font: 400 0.5em "Open Sans", Arial, sans-serif;
  text-transform: lowercase;
}

body > footer div h3 {
  margin-left: -30px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.8;
  padding: 20px 0 15px;
}

body > footer div p {
  font-size: 0.9em;
  padding: 0 0 20px 45px;
}

body > footer div li {
  font-size: 0.9em;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #c81400;
}

a:hover, a:visited {
  text-decoration: underline;
}

a.button {
  display: inline-block;
  background: #c81400;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 15px 30px;
  -webkit-box-shadow: 0 3px 3px 0 #ccc;
          box-shadow: 0 3px 3px 0 #ccc;
  -webkit-transition: background-color 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
  transition: background-color 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out, box-shadow 0.5s ease-out;
  transition: background-color 0.5s ease-out, box-shadow 0.5s ease-out;
  transition: background-color 0.5s ease-out, box-shadow 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
}

a.button:hover {
  background: #d00;
  -webkit-box-shadow: 0 3px 7px 0 #aaa;
          box-shadow: 0 3px 7px 0 #aaa;
  text-decoration: none;
}

a.button:visited {
  text-decoration: none;
}

ul.postlist {
  -webkit-transition: height 0.5s ease-out;
  -o-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
}

ul.postlist li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  -webkit-transition: max-height 0.5s 0.25s ease-in-out, opacity 0.25s 0s ease-out;
  -o-transition: max-height 0.5s 0.25s ease-in-out, opacity 0.25s 0s ease-out;
  transition: max-height 0.5s 0.25s ease-in-out, opacity 0.25s 0s ease-out;
  max-height: 800px;
  opacity: 1;
  overflow: hidden;
}

ul.postlist li.hiding {
  max-height: 0;
  opacity: 0;
}

ul.postlist li.hidden {
  display: none;
}

ul.postlist li img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: block;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
  -webkit-transition: height 0.25s ease-out, opacity 0.25s ease-out;
  -o-transition: height 0.25s ease-out, opacity 0.25s ease-out;
  transition: height 0.25s ease-out, opacity 0.25s ease-out;
}

ul.postlist li:hover img {
  height: 180px;
  opacity: 1;
}

ul.postlist li time {
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  font: 700 0.7em "Open Sans", Arial, sans-serif;
  letter-spacing: 0.1em;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  text-transform: uppercase;
}

ul.postlist li:hover time {
  opacity: 0.9;
}

ul.postlist li h4 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-size: 1.4em;
  font-weight: 700;
  border-top: solid 4px #c81400;
}

ul.postlist li h4 a {
  display: block;
  padding: 25px 20px;
  color: inherit;
  -webkit-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

ul.postlist li h4 a:hover {
  text-decoration: none;
  color: #c81400;
}

ul.postlist p {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  font-size: 0.9em;
  padding: 0 20px 20px;
  -webkit-transition: padding-bottom 0.25s ease-out;
  -o-transition: padding-bottom 0.25s ease-out;
  transition: padding-bottom 0.25s ease-out;
}

ul.postlist:hover p {
  padding-bottom: 40px;
}

.bold,
strong {
  font-weight: 700;
}

.italic,
em {
  font-style: italic;
}

sup {
  vertical-align: super;
  font-size: .66em;
  line-height: .66em;
}

sub {
  vertical-align: sub;
  font-size: .66em;
  line-height: .66em;
}

blockquote {
  max-width: 1500px;
  margin: 0 auto;
  padding: 25px 10px;
  font: 1.5em/1.4em "Homemade Apple", serif, Arial, sans-serif;
}

blockquote.fancy {
  text-align: center;
  font: 2em/1.4em "Homemade Apple", serif, Arial, sans-serif;
}

blockquote:before, blockquote:after {
  content: " ";
  display: block;
  margin: 0 auto 25px;
  background: #c81400;
  width: 60px;
  height: 3px;
}

blockquote footer {
  font: 700 0.4em "Open Sans", Arial, sans-serif;
  letter-spacing: 0.1em;
  opacity: 0.9;
  text-transform: uppercase;
  padding: 25px 0;
}

blockquote footer:before, blockquote footer:after {
  opacity: 0.5;
  content: " — ";
}

main > section:not(#hero) {
  background: #f6f6f6;
  position: relative;
  overflow: hidden;
}

main > section:not(#hero) h2 {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  font-size: 2.5em;
  line-height: 1.4em;
  font-weight: 800;
  padding: 20px;
}

main > section:not(#hero) h2:before {
  display: block;
  position: absolute;
  top: -15px;
  left: 0;
  padding: 0 0 50px;
  z-index: 0;
  opacity: 0.05;
  font-size: 2.4em;
  line-height: 0.9em;
  font-weight: 800;
  width: 100%;
  overflow: hidden;
}

main > section:not(#hero) h2:after {
  display: block;
  content: " ";
  margin-top: 20px;
  width: 80px;
  height: 3px;
  background: #c81400;
}

main > section:not(#hero) p {
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
  color: rgba(34, 34, 34, 0.75);
}

main > section#hero {
  position: relative;
  width: 100%;
  height: 700px;
  padding: 250px 20px 0;
  color: #fff;
  text-align: center;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 840px) {
  main > section#hero {
    font-size: 0.8em;
    height: 500px;
    padding-top: 150px;
  }
}

main > section#hero:before {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #22222288;
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(0%, #000000aa), color-stop(20%, #22222288));
  background: -o-linear-gradient(0, #000000aa 0%, #22222288 20%);
  background: linear-gradient(0, #000000aa 0%, #22222288 20%);
}

main > section#hero h2 {
  position: relative;
  font: 700 5em/1em "Oswald", sans-serif;
  text-transform: uppercase;
}

main > section#hero h2 span {
  display: block;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: lowercase;
  font-size: 0.15em;
  line-height: 1.5em;
}

main > section#hero p {
  position: relative;
  margin-top: 50px;
  font: 2em "Homemade Apple", serif;
  opacity: 0.8;
}

main > section#hero img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: opacity 2s 5s ease-in-out, -webkit-transform 4s 3s;
  transition: opacity 2s 5s ease-in-out, -webkit-transform 4s 3s;
  -o-transition: opacity 2s 5s ease-in-out, transform 4s 3s;
  transition: opacity 2s 5s ease-in-out, transform 4s 3s;
  transition: opacity 2s 5s ease-in-out, transform 4s 3s, -webkit-transform 4s 3s;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

main > section#hero img:last-of-type {
  opacity: 0;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

main > section#error {
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}

main > section#error:before {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #22222288;
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(0%, #000000aa), color-stop(20%, #22222288));
  background: -o-linear-gradient(0, #000000aa 0%, #22222288 20%);
  background: linear-gradient(0, #000000aa 0%, #22222288 20%);
}

main > section#error h2 {
  font: 700 5em/1em "Oswald", sans-serif;
  text-transform: uppercase;
  padding: 0;
  max-width: auto;
  color: #fff;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.75);
}

main > section#error h2::after {
  display: none;
}

main > section#error p {
  color: #f6f6f6;
}

main > section#matumaini {
  padding: 80px 0 40px;
}

main > section#matumaini h2:before {
  content: "Over Matumaini Katanga";
}

main > section#aalmoezeniers {
  padding: 80px 0 40px;
}

main > section#aalmoezeniers h2:before {
  content: "Over de aalmoezeniers";
}

main > section#aalmoezeniers iframe {
  background: #eee;
  display: block;
  margin: 25px auto;
  padding: 0;
  width: 100%;
  height: 400px;
}

@media screen and (max-width: 700px) {
  main > section#aalmoezeniers iframe {
    height: 300px;
  }
}

main > section#aalmoezeniers ul {
  width: 100%;
  max-width: 1600px;
  margin: 30px auto 0;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1100px) {
  main > section#aalmoezeniers ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: scroll;
  }
  main > section#aalmoezeniers ul:after {
    display: block;
    content: " ";
    min-width: 10px;
  }
}

main > section#aalmoezeniers ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  width: 320px;
  min-width: 300px;
  margin: 20px;
  overflow: hidden;
}

main > section#aalmoezeniers ul li:hover img {
  -webkit-transform: scale(1.1) translateY(-10px);
      -ms-transform: scale(1.1) translateY(-10px);
          transform: scale(1.1) translateY(-10px);
}

main > section#aalmoezeniers ul li img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  display: block;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: solid 4px #c81400;
  -webkit-transition: -webkit-transform 4s ease-out;
  transition: -webkit-transform 4s ease-out;
  -o-transition: transform 4s ease-out;
  transition: transform 4s ease-out;
  transition: transform 4s ease-out, -webkit-transform 4s ease-out;
}

main > section#aalmoezeniers ul li h3 {
  margin: 40px 4px 8px;
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
  text-transform: uppercase;
}

main > section#aalmoezeniers ul li p {
  font-size: 0.9em;
  padding: 20px;
}

main > section#eyecatcher {
  padding: 80px 0;
  border-bottom: solid 3px #c81400;
}

main > section#eyecatcher h2:before {
  content: "Blikvanger";
}

main > section#activiteiten {
  background: #eee;
  padding: 50px 0;
  overflow: unset;
}

main > section#activiteiten .archive {
  padding-top: 6px;
  float: right;
}

main > section#activiteiten > h3 {
  text-align: center;
  font-size: 1.9em;
  line-height: 1em;
  font-weight: 800;
  padding: 25px 0;
  margin-bottom: -25px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  background: #eee;
}

main > section#activiteiten div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1240px;
  margin: 0 auto 20px;
  padding: 0 20px;
}

main > section#activiteiten div h3,
main > section#activiteiten div h2 {
  font-size: 2.1em;
  line-height: 1em;
  font-weight: 800;
  margin: 0 30px 0 0;
  max-width: none;
  padding: 0;
}

main > section#activiteiten div h3:after,
main > section#activiteiten div h2:after {
  display: none;
}

main > section#activiteiten div input {
  margin: 0;
  padding: 3px 7px 3px 35px;
  width: 100%;
  max-width: 260px;
  border: solid 2px #222;
  background: url(../img/icn_search.svg) 10px center no-repeat transparent;
  background-size: 20px;
  border-radius: 50px;
  font: inherit;
  color: rgba(34, 34, 34, 0.75);
  -webkit-transition: border-color 0.5s ease-out, background-color 0.5s ease-out;
  -o-transition: border-color 0.5s ease-out, background-color 0.5s ease-out;
  transition: border-color 0.5s ease-out, background-color 0.5s ease-out;
}

@media screen and (max-width: 700px) {
  main > section#activiteiten div input {
    margin: 22px auto 0;
  }
}

main > section#activiteiten div input:focus, main > section#activiteiten div input:hover {
  background-color: #fff;
  border-color: #c81400;
}

main > section#activiteiten .no-posts {
  padding-bottom: 0;
}

main > section#activiteiten .no-posts,
main > section#activiteiten .year-posts {
  -webkit-transition: opacity 0.25s ease-out, max-height 0.25s ease-in-out, padding 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-out, max-height 0.25s ease-in-out, padding 0.25s ease-in-out;
  transition: opacity 0.25s ease-out, max-height 0.25s ease-in-out, padding 0.25s ease-in-out;
}

main > section#activiteiten .no-posts.hidden,
main > section#activiteiten .year-posts.hidden {
  opacity: 0;
  max-height: 0;
  padding: 0;
}

main > section#activiteiten ul {
  margin: 45px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

@media only screen and (max-width: 4200px) {
  main > section#activiteiten ul {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 3500px) {
  main > section#activiteiten ul {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 2800px) {
  main > section#activiteiten ul {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 2100px) {
  main > section#activiteiten ul {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1400px) {
  main > section#activiteiten ul {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 700px) {
  main > section#activiteiten ul {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

main > section#schenken {
  background: #222;
  color: #f6f6f6;
  padding: 80px 0;
}

main > section#schenken h2:before {
  content: "Doe een gift";
}

main > section#schenken h3 {
  display: none;
}

main > section#schenken p {
  color: #f6f6f6;
}

main > section#schenken > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1400px;
  margin: 40px auto 0;
}

main > section#schenken > div article {
  max-width: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 20px;
}

main > section#schenken > div article:first-of-type {
  background: #262626;
  border-radius: 10px;
}

main > section#schenken > div article div {
  padding: 0 15px 20px 0;
  width: 300px;
}

main > section#schenken > div article div:last-of-type {
  width: 100%;
}

main > section#schenken > div article div h4 {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
  opacity: 0.8;
}

main > section#schenken > div article div p {
  font-size: 1.2em;
  padding: 0 0 0 10px;
}

main > section#schenken > div article > p {
  padding: 0 0 20px;
}

main > section#schenken > div article > p em {
  display: block;
  font-family: "Homemade Apple", serif;
  font-size: 2em;
  padding: 20px 0 5px;
}

main > section#post {
  padding: 0 0 100px;
}

main > section#post img:not(.static) {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

main > section#post > header {
  position: relative;
  margin: 0 0 50px;
  padding: 150px 0 70px;
  color: #f6f6f6;
  overflow: hidden;
}

@media screen and (max-width: 680px) {
  main > section#post > header {
    padding: 100px 0 20px;
  }
}

main > section#post > header:before {
  display: block;
  content: " ";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #22222288;
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(0%, #000000aa), color-stop(20%, #22222288));
  background: -o-linear-gradient(0, #000000aa 0%, #22222288 20%);
  background: linear-gradient(0, #000000aa 0%, #22222288 20%);
}

main > section#post > header h2 {
  z-index: 3;
}

main > section#post > header time {
  display: block;
  position: relative;
  z-index: 3;
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;
  font: 700 0.9em "Open Sans", Arial, sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 0.8;
}

main > section#post > header img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main > section#post ul,
main > section#post ol {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px 20px 60px;
  color: rgba(34, 34, 34, 0.75);
  list-style-type: circle;
}

main > section#post ol {
  list-style-type: decimal;
}

main > section#post figure {
  background: #eee;
  display: block;
  max-width: 900px;
  margin: 15px auto;
  padding: 20px;
}

main > section#post figure figcaption {
  display: block;
  padding: 10px 0 0;
  color: #222;
}

main > section#post figure img {
  width: 100%;
}

main > section#post p.gallery {
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15px auto;
  padding: 10px;
}

main > section#post p.gallery img {
  margin: 4px;
  width: calc(25% - 8px);
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 850px) {
  main > section#post p.gallery img {
    width: calc(33% - 8px);
    height: 120px;
  }
}

@media only screen and (max-width: 500px) {
  main > section#post p.gallery img {
    width: calc(50% - 8px);
    height: 100px;
  }
}

main > section#post p:not(.gallery) > img {
  float: right;
  max-width: 360px;
  margin: 10px 0 10px 10px;
}

@media only screen and (max-width: 600px) {
  main > section#post p:not(.gallery) > img {
    float: none;
    max-width: none;
    width: 100%;
    margin: 20px 0;
    display: block;
  }
}

@media only screen and (max-width: 1400px) {
  main > section#post > footer {
    display: none;
  }
}

main > section#post > footer li {
  overflow: hidden;
  position: fixed;
  top: calc(50vh + 150px);
  width: 100px;
  height: 100px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0.1;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

main > section#post > footer li:hover {
  opacity: 1;
}

main > section#post > footer li:first-of-type {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 3vw;
}

main > section#post > footer li:last-of-type {
  right: 3vw;
}

main > section#post > footer li a {
  color: transparent;
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/icn_arrow.svg) no-repeat center center;
  background-size: 44px;
}

main > section#relevant {
  background-color: #eee;
}

main > section#relevant h3 {
  max-width: 1240px;
  margin: 0 auto;
  padding: 50px 20px 0;
  font-size: 2.1em;
  line-height: 1em;
  font-weight: 800;
}

main > section#relevant ul {
  margin: 45px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 700px) {
  main > section#relevant ul {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 1400px) {
  main > section#relevant ul {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  main > section#relevant ul li:nth-child(3) {
    display: none;
  }
}

main > section#relevant ul li:nth-child(4) {
  display: none;
}

main > section#about {
  padding: 80px 0;
}

main > section#about h2:before {
  content: "Administratie";
}

main > section#about h3 {
  font-size: 1.8em;
  line-height: 1em;
  font-weight: 800;
  margin: 50px 0 30px;
}

main > section#about article {
  padding: 20px;
  width: 465px;
  margin: 0 auto;
  max-width: 100vw;
}

@media only screen and (max-width: 1080px) {
  main > section#about article {
    padding: 0;
  }
}

main > section#about #team {
  padding: 0;
  text-align: center;
  width: 100%;
}

main > section#about #team h3 {
  display: none;
}

main > section#about #team ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main > section#about #team ul figure {
  width: 200px;
  height: 200px;
}

main > section#about #team ul figure img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

main > section#about #team ul figure:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

main > section#about #team ul figure figcaption {
  padding: 15px 0 0;
  font-weight: 700;
}

main > section#about #team ul figure figcaption em {
  font-style: normal;
  display: block;
  font-weight: 400;
}

main > section#about div {
  padding: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 2000px) {
  main > section#about div {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1080px) {
  main > section#about div {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding: 20px;
  }
  main > section#about div article {
    margin: 0;
  }
}

main > section#about div ul li {
  max-width: 90vw;
  padding: 0 0 3px 30px;
}

main > section#about div ul li a {
  position: relative;
}

main > section#about div ul li a:before {
  position: absolute;
  top: 3px;
  left: -25px;
  display: block;
  content: " ";
  background: transparent url(../img/icn_file.svg) no-repeat left top;
  background-size: 15px;
  width: 20px;
  height: 20px;
}
/*# sourceMappingURL=screen.css.map */