@charset 'UTF-8';
@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Oswald:700|Homemade+Apple&display=swap");

$colorAccent: rgb(200, 20, 0);
$colorLight: #f6f6f6;
$colorLightAlt: #eee;
$colorDark: #222;
$colorText: rgba(34, 34, 34, 0.75);
$fontDefault: "Open Sans", Arial, sans-serif;
$fontScript: "Homemade Apple", serif;
$fontBlock: "Oswald", sans-serif;

// ******
// SETUP
// ******

noscript {
  display: block;
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  width: 100%;
  color: $colorLight;
  background: $colorAccent;
  padding: 10px 20px;
  font: 700 0.9em $fontDefault;
  text-transform: uppercase;
  text-align: center;
}

body {
  font: 400 1em/1.8em "Open Sans", Arial, sans-serif;
  background: $colorDark;
  color: $colorDark;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 100%;

  &:after {
    display: block;
    content: " ";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: $colorAccent;
  }
}

*,
*:after,
*:before {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

::selection {
  background: $colorAccent;
  color: #ffffff;
}

body > header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 30px; // only if pinned to top
  transition: background-color 0.5s ease-out, transform 0.5s ease-out, padding 0.5s ease-out;

  &.hidden {
    transform: translateY(-100px);
  }

  &.invert {
    position: fixed;
    padding: 0;
    background: $colorLight;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    animation: header 0.5s ease-out forwards;

    ul li {
      &:first-of-type a {
        background-image: url(../img/logo.png);
      }

      &:last-of-type a {
        background: $colorAccent;
        color: $colorLight;
      }

      a {
        color: $colorDark;
      }
    }
  }

  @media screen and (max-width: 680px) {
    padding: 0;
  }

  h1 {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 700;

    li {
      overflow: hidden;

      @media screen and (max-width: 680px) {
        display: none;
      }

      &:first-of-type {
        display: block;

        a {
          background: transparent url(../img/logo_i.png) no-repeat center left;
          width: 40px;
          background-size: 30px;
          color: transparent;
          white-space: nowrap;
        }
      }

      &:last-of-type {
        display: block;
        margin-left: auto;
        overflow: visible;

        a {
          position: relative;
          background: $colorLight;
          border-radius: 50px;
          text-align: center;
          min-width: 146px;
          padding: 8px 0;
          color: $colorDark;
          transition: color 0.5s ease-out, background-color 0.5s ease-out;

          &:hover {
            transform: none;
            opacity: 1;
            color: $colorLight;
            background: #d00;

            &:after {
              opacity: 1;
              transform: rotate(10deg) translateX(20px) translateY(-10px);
            }
          }

          &:after {
            content: "❤️";
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;
            transition: opacity 0.25s ease-out, transform 0.5s ease-out;
          }
        }
      }

      a {
        display: inline-block;
        margin: 0 15px;
        padding: 15px 10px;
        color: #fff;
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;

        &:hover {
          transform: translateY(-2px);
          opacity: 0.7;
          text-decoration: none;
        }
      }
    }
  }
}

body > footer {
  position: relative;
  min-height: 350px;
  background: no-repeat fixed;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  color: $colorLight;

  @media screen and (max-width: 640px) {
    padding: 20px 20px 90px;
  }

  &:after {
    display: block;
    content: " ";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: $colorDark;
    font-size: 0.8em;
  }

  a {
    position: relative;
    color: inherit;

    &.email:before,
    &.address:before {
      position: absolute;
      top: 4px;
      left: -25px;
      display: block;
      content: " ";
      background: transparent url(../img/icn_email.svg) no-repeat left top;
      background-size: 15px;
      width: 20px;
      height: 20px;
    }

    &.address:before {
      background-image: url(../img/icn_address.svg);
      background-size: 17px;
      top: 1px;
    }
  }

  div {
    position: relative;
    z-index: 5;
    margin-left: 150px;
    margin-bottom: 15px;

    @media screen and (max-width: 840px) {
      margin-left: 45px;
    }

    &:first-of-type {
      margin-left: 0;
    }

    h2 {
      background: transparent url(../img/logo_i.png) no-repeat center left;
      background-size: 32px;
      font: 700 1.4em $fontBlock;
      padding: 10px 45px;
      text-transform: uppercase;
      color: #fff;

      span {
        font: 400 0.5em $fontDefault;
        text-transform: lowercase;
      }
    }

    h3 {
      margin-left: -30px;
      font-weight: 700;
      text-transform: uppercase;
      opacity: 0.8;
      padding: 20px 0 15px;
    }

    p {
      font-size: 0.9em;
      padding: 0 0 20px 45px;
    }

    li {
      font-size: 0.9em;
    }
  }
}

// ******
// COMMON
// ******

a {
  cursor: pointer;
  text-decoration: none;
  color: $colorAccent;

  &:hover,
  &:visited {
    text-decoration: underline;
  }

  &.button {
    display: inline-block;
    background: $colorAccent;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 15px 30px;
    box-shadow: 0 3px 3px 0 #ccc;
    transition: background-color 0.5s ease-out, box-shadow 0.5s ease-out;

    &:hover {
      background: #d00;
      box-shadow: 0 3px 7px 0 #aaa;
      text-decoration: none;
    }

    &:visited {
      text-decoration: none;
    }
  }
}

ul.postlist {
  transition: height 0.5s ease-out;

  li {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    transition: max-height 0.5s 0.25s ease-in-out, opacity 0.25s 0s ease-out;
    max-height: 800px;
    opacity: 1;
    overflow: hidden;

    &.hiding {
      max-height: 0;
      opacity: 0;
    }

    &.hidden {
      display: none;
    }

    img {
      order: 1;
      display: block;
      width: 100%;
      height: 200px;
      object-fit: cover;
      opacity: 0.7;
      transition: height 0.25s ease-out, opacity 0.25s ease-out;
    }

    &:hover img {
      height: 180px;
      opacity: 1;
    }

    time {
      position: absolute;
      bottom: 20px;
      right: 20px;
      opacity: 0;
      font: 700 0.7em $fontDefault;
      letter-spacing: 0.1em;
      transition: opacity 0.5s ease-out;
      text-transform: uppercase;
    }

    &:hover time {
      opacity: 0.9;
    }

    h4 {
      order: 2;
      font-size: 1.4em;
      font-weight: 700;
      border-top: solid 4px $colorAccent;

      a {
        display: block;
        padding: 25px 20px;
        color: inherit;
        transition: color 0.5s ease-out;

        &:hover {
          text-decoration: none;
          color: $colorAccent;
        }
      }
    }
  }

  p {
    order: 3;
    font-size: 0.9em;
    padding: 0 20px 20px;
    transition: padding-bottom 0.25s ease-out;
  }

  &:hover p {
    padding-bottom: 40px;
  }
}

.bold,
strong {
  font-weight: 700;
}

.italic,
em {
  font-style: italic;
}

blockquote {
  max-width: 1500px;
  margin: 0 auto;
  padding: 25px 10px;
  font: 1.5em/1.4em $fontScript, Arial, sans-serif;

  &.fancy {
    text-align: center;
    font: 2em/1.4em $fontScript, Arial, sans-serif;
  }

  &:before,
  &:after {
    content: " ";
    display: block;
    margin: 0 auto 25px;
    background: $colorAccent;
    width: 60px;
    height: 3px;
  }

  footer {
    font: 700 0.4em $fontDefault;
    letter-spacing: 0.1em;
    opacity: 0.9;
    text-transform: uppercase;
    padding: 25px 0;

    &:before,
    &:after {
      opacity: 0.5;
      content: " — ";
    }
  }
}

// ******
// SECTIONS
// ******

main > section:not(#hero) {
  background: $colorLight;
  position: relative;
  overflow: hidden;

  h2 {
    position: relative;
    max-width: 1240px;
    margin: 0 auto;
    font-size: 2.5em;
    line-height: 1.4em;
    font-weight: 800;
    padding: 20px;

    &:before {
      display: block;
      position: absolute;
      top: -15px;
      left: 0;
      padding: 0 0 50px;
      z-index: 0;
      opacity: 0.05;
      font-size: 2.4em;
      line-height: 0.9em;
      font-weight: 800;
      width: 100%;
      overflow: hidden;
    }

    &:after {
      display: block;
      content: " ";
      margin-top: 20px;
      width: 80px;
      height: 3px;
      background: $colorAccent;
    }
  }

  p {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;
    color: $colorText;
  }
}

main > section#hero {
  position: relative;
  width: 100%;
  height: 700px;
  padding: 250px 20px 0;
  color: #fff;
  text-align: center;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.75);

  @media screen and (max-width: 840px) {
    font-size: 0.8em;
    height: 500px;
    padding-top: 150px;
  }

  &:before {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #22222288;
    background: linear-gradient(0, #000000aa 0%, #22222288 20%);
  }

  h2 {
    position: relative;
    font: 700 5em/1em $fontBlock;
    text-transform: uppercase;

    span {
      display: block;
      font-family: $fontDefault;
      text-transform: lowercase;
      font-size: 0.15em;
      line-height: 1.5em;
    }
  }

  p {
    position: relative;
    margin-top: 50px;
    font: 2em $fontScript;
    opacity: 0.8;
  }

  img {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 700px;
    object-fit: cover;
    transition: opacity 2s 5s ease-in-out, transform 4s 3s;
    opacity: 1;
    transform: scale(1);

    &:last-of-type {
      opacity: 0;
      transform: scale(1.1);
    }
  }
}

main > section#error {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;

  &:before {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #22222288;
    background: linear-gradient(0, #000000aa 0%, #22222288 20%);
  }

  h2 {
    font: 700 5em/1em $fontBlock;
    text-transform: uppercase;
    padding: 0;
    max-width: auto;
    color: #fff;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.75);

    &::after {
      display: none;
    }
  }

  p {
    color: $colorLight;
  }
}

main > section#matumaini {
  padding: 80px 0 40px;

  h2:before {
    content: "Over Matumaini Katanga";
  }
}

main > section#aalmoezeniers {
  padding: 80px 0 40px;

  h2:before {
    content: "Over de aalmoezeniers";
  }

  iframe {
    background: $colorLightAlt;
    display: block;
    margin: 25px auto;
    padding: 0;
    width: 100%;
    height: 400px;

    @media screen and (max-width: 700px) {
      height: 300px;
    }
  }

  ul {
    width: 100%;
    max-width: 1600px;
    margin: 30px auto 0;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (max-width: 1100px) {
      justify-content: flex-start;
      flex-wrap: nowrap;
      overflow-x: scroll;

      &:after {
        display: block;
        content: " ";
        min-width: 10px;
      }
    }

    li {
      display: flex;
      flex-direction: column;
      background: #fff;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
      width: 320px;
      min-width: 300px;
      margin: 20px;
      overflow: hidden;

      &:hover img {
        transform: scale(1.1) translateY(-10px);
      }

      img {
        order: -1;
        display: block;
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-bottom: solid 4px $colorAccent;
        transition: transform 4s ease-out;
      }

      h3 {
        margin: 40px 4px 8px;
        text-align: center;
        font-size: 1.4em;
        font-weight: 700;
        text-transform: uppercase;
      }

      p {
        font-size: 0.9em;
        padding: 20px;
      }
    }
  }
}

main > section#eyecatcher {
  padding: 80px 0;
  border-bottom: solid 3px $colorAccent;

  h2:before {
    content: "Blikvanger";
  }
}

main > section#activiteiten {
  background: $colorLightAlt;
  padding: 50px 0;
  overflow: unset;

  .archive {
    padding-top: 6px;
    float: right;
  }

  > h3 {
    text-align: center;
    font-size: 1.9em;
    line-height: 1em;
    font-weight: 800;
    padding: 25px 0;
    margin-bottom: -25px;
    position: sticky;
    top: 0;
    z-index: 5;
    background: $colorLightAlt;
  }

  div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1240px;
    margin: 0 auto 20px;
    padding: 0 20px;

    h3,
    h2 {
      font-size: 2.1em;
      line-height: 1em;
      font-weight: 800;
      margin: 0 30px 0 0;
      //reset
      max-width: none;
      padding: 0;

      &:after {
        display: none;
      }
    }

    input {
      margin: 0;
      padding: 3px 7px 3px 35px;
      width: 100%;
      max-width: 260px;
      border: solid 2px $colorDark;
      background: url(../img/icn_search.svg) 10px center no-repeat transparent;
      background-size: 20px;
      border-radius: 50px;
      font: inherit;
      color: $colorText;
      transition: border-color 0.5s ease-out, background-color 0.5s ease-out;

      @media screen and (max-width: 700px) {
        margin: 22px auto 0;
      }

      &:focus,
      &:hover {
        background-color: #fff;
        border-color: $colorAccent;
      }
    }
  }

  .no-posts {
    padding-bottom: 0;
  }

  .no-posts,
  .year-posts {
    transition: opacity 0.25s ease-out, max-height 0.25s ease-in-out, padding 0.25s ease-in-out;

    &.hidden {
      opacity: 0;
      max-height: 0;
      padding: 0;
    }
  }

  ul {
    margin: 45px 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    @media only screen and (max-width: 4200px) {
      grid-template-columns: repeat(6, 1fr);
    }
    @media only screen and (max-width: 3500px) {
      grid-template-columns: repeat(5, 1fr);
    }
    @media only screen and (max-width: 2800px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media only screen and (max-width: 2100px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (max-width: 1400px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: 700px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

main > section#schenken {
  background: $colorDark;
  color: $colorLight;
  padding: 80px 0;

  h2:before {
    content: "Doe een gift";
  }

  h3 {
    display: none;
  }

  p {
    color: $colorLight;
  }

  > div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 40px auto 0;

    article {
      max-width: 640px;
      display: flex;
      flex-wrap: wrap;
      padding: 40px 20px;

      &:first-of-type {
        background: #262626;
        border-radius: 10px;
      }

      div {
        padding: 0 15px 20px 0;
        width: 300px;

        &:last-of-type {
          width: 100%;
        }

        h4 {
          text-transform: uppercase;
          font-size: 0.8em;
          font-weight: 700;
          opacity: 0.8;
        }

        p {
          font-size: 1.2em;
          padding: 0 0 0 10px;
        }
      }

      > p {
        padding: 0 0 20px;

        em {
          display: block;
          font-family: $fontScript;
          font-size: 2em;
          padding: 20px 0 5px;
        }
      }
    }
  }
}

main > section#post {
  padding: 0 0 100px;

  img:not(.static) {
    cursor: zoom-in;
  }

  > header {
    position: relative;
    margin: 0 0 50px;
    padding: 150px 0 70px;
    color: $colorLight;
    overflow: hidden;

    @media screen and (max-width: 680px) {
      padding: 100px 0 20px;
    }

    &:before {
      display: block;
      content: " ";
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #22222288;
      background: linear-gradient(0, #000000aa 0%, #22222288 20%);
    }

    h2 {
      z-index: 3;
    }

    time {
      display: block;
      position: relative;
      z-index: 3;
      max-width: 1240px;
      margin: 0 auto;
      padding: 20px;
      font: 700 0.9em $fontDefault;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      opacity: 0.8;
    }

    img {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  ul,
  ol {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px 20px 60px;
    color: $colorText;
    list-style-type: circle;
  }

  ol {
    list-style-type: decimal;
  }

  figure {
    background: $colorLightAlt;
    display: block;
    max-width: 900px;
    margin: 15px auto;
    padding: 20px;

    figcaption {
      display: block;
      padding: 10px 0 0;
      color: $colorDark;
    }

    img {
      width: 100%;
    }
  }

  p {
    &.gallery {
      background: $colorLightAlt;
      display: flex;
      flex-wrap: wrap;
      margin: 15px auto;
      padding: 10px;

      img {
        margin: 4px;
        width: calc(25% - 8px);
        height: 160px;
        object-fit: cover;

        @media only screen and (max-width: 850px) {
          width: calc(33% - 8px);
          height: 120px;
        }

        @media only screen and (max-width: 500px) {
          width: calc(50% - 8px);
          height: 100px;
        }
      }
    }

    &:not(.gallery) > img {
      float: right;
      max-width: 360px;
      margin: 10px 0 10px 10px;

      @media only screen and (max-width: 600px) {
        float: none;
        max-width: none;
        width: 100%;
        margin: 20px 0;
        display: block;
      }
    }
  }

  > footer {
    @media only screen and (max-width: 1400px) {
      display: none;
    }

    li {
      overflow: hidden;
      position: fixed;
      top: calc(50vh + 150px);
      width: 100px;
      height: 100px;
      text-align: center;
      display: flex;
      flex-direction: column;
      opacity: 0.1;
      transition: opacity 0.5s ease-out;

      &:hover {
        opacity: 1;
      }

      &:first-of-type {
        transform: rotate(180deg);
        left: 3vw;
      }
      &:last-of-type {
        right: 3vw;
      }

      a {
        color: transparent;
        display: block;
        width: 100%;
        height: 100%;
        background: url(../img/icn_arrow.svg) no-repeat center center;
        background-size: 44px;
      }
    }
  }
}

main > section#relevant {
  background-color: $colorLightAlt;

  h3 {
    max-width: 1240px;
    margin: 0 auto;
    padding: 50px 20px 0;
    font-size: 2.1em;
    line-height: 1em;
    font-weight: 800;
  }

  ul {
    margin: 45px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media only screen and (max-width: 700px) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media only screen and (max-width: 1400px) {
      grid-template-columns: repeat(2, 1fr);

      li:nth-child(3) {
        display: none;
      }
    }

    li:nth-child(4) {
      display: none;
    }
  }
}

main > section#about {
  padding: 80px 0;

  h2:before {
    content: "Administratie";
  }

  h3 {
    font-size: 1.8em;
    line-height: 1em;
    font-weight: 800;
    margin: 50px 0 30px;
  }

  article {
    padding: 20px;
    width: 465px;
    margin: 0 auto;
    max-width: 100vw;

    @media only screen and (max-width: 1080px) {
      padding: 0;
    }
  }

  #team {
    padding: 0;
    text-align: center;
    width: 100%;

    h3 {
      display: none;
    }

    ul {
      display: flex;
      margin: 60px 0 0;
      justify-content: center;
      flex-wrap: wrap;

      figure {
        width: 200px;
        height: 200px;

        img {
          display: block;
          margin: 0 auto;
          width: 100px;
          height: 100px;
          object-fit: cover;
          clip-path: circle(50% at 50% 50%);
          transition: transform 0.25s ease-out;
        }

        &:hover img {
          transform: scale(1.1);
        }

        figcaption {
          padding: 15px 0 0;
          font-weight: 700;

          em {
            font-style: normal;
            display: block;
            font-weight: 400;
          }
        }
      }
    }
  }

  div {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media only screen and (max-width: 2000px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 1080px) {
      grid-template-columns: repeat(1, 1fr);
      padding: 20px;

      article {
        margin: 0;
      }
    }

    ul li {
      max-width: 90vw;
      padding: 0 0 3px 30px;

      a {
        position: relative;

        &:before {
          position: absolute;
          top: 3px;
          left: -25px;
          display: block;
          content: " ";
          background: transparent url(../img/icn_file.svg) no-repeat left top;
          background-size: 15px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
