@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Oswald:700|Source+Sans+Pro:400,700";
@import "reset.min.css";
@import "animations.min.css";
/**/
/* Variables */
/**/
$source-sans: "Source Sans Pro", Arial, sans-serif;
$oswald: Oswald, Arial, sans-serif;
$georgia: Georgia, serif;
/**/
/* Colors */
/**/
$colorLight: #FFFFFF;
$colorLightAlt: #F6F6F3;
$colorDark: #545454;
$colorDarkAlt: #343434;
$colorAccent: #d13d38;
$colorOverlay: rgba(40, 25, 25, .75);
$colorSelection: rgba(188, 8, 0, .75);
$colorShadow: rgba(0,0,0,.25);
/**/
/* Box Model */
/**/
html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:after,
*:before {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
/**/
/* Standards */
/**/
::selection {
    background: $colorSelection;
    color: rgb(255, 255, 255);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: $colorAccent;
}

.h {
    display: none !important;
}
/* --------------------------------------- */
#home nav .logo {
    white-space: nowrap;
    width: 50px;
    overflow: hidden;
}

#home > header {
    background: $colorDark;
    height: 80vh;

    div {
        display: block;
    }
}

#archive main article p,
#searchresults main article p {
    display: flex;
    justify-content: center;
    align-items: center;

    .button {
        font-size: 1em;
    }
}
/* --------------------------------------- */
body {
    background: $colorLight;
    min-height: 100vh;
    font-family: $source-sans;
    font-size: 0.9em;
    line-height: 1.4em;
    color: $colorDark;

    & > header {
        position: relative;
        text-align: center;

        div {
            position: relative;
            z-index: 100;
            background: $colorOverlay;
            width: 100%;
            height: 100%;
            padding: 35vh 0 0;
            transition: opacity 1500ms;
            display: none;

            h1 {
                display: inline-block;
                font-family: $oswald;
                font-size: 5.1em;
                line-height: 1em;
                font-weight: 700;
                text-transform: uppercase;
                color: rgb(255, 255, 255);

                span {
                    display: block;
                    font-family: $source-sans;
                    font-size: 0.15em;
                    line-height: 1em;
                }
            }

            em {
                display: block;
                font-family: $georgia;
                font-style: italic;
                font-size: 2em;
                line-height: 3em;
                color: rgba(255, 255, 255, .5);
            }
        }

        figure {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        nav ul {
            background: transparent;
            position: absolute;
            z-index: 111;
            top: 0;
            left: 0;
            right: 0;
            padding: 5px 10px;
            border-bottom: solid 1px rgba(255, 255, 255, .15);
            display: flex;
            justify-content: space-between;

            &.homenav {
                justify-content: center;
                left: 300px;
                right: 300px;
                border: none;
            }

            &.sticky {
                position: fixed;
                background: $colorLight;
                box-shadow: 0 0 25px 0 $colorShadow;

                a {
                    color: $colorDark;

                    &.logo {
                        background-image: url("../img/logo.png");
                    }
                }
            }

            a {
                display: inline-block;
                padding: 20px 15px;
                margin: 0 1px;
                color: $colorLight;
                text-transform: uppercase;
                font-weight: 700;
                transition: opacity 500ms;

                &.logo {
                    display: inline-block;
                    background: transparent url("../img/logo_i.png") no-repeat 10px 15px;
                    background-size: 30px;
                    min-width: 50px;
                    text-indent: 40px;
                }

                &.breadcrumb::before {
                    content: "❯";
                    speak: none;
                    display: inline-block;
                    margin: 0 18px 0 -18px;
                }

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    & > footer {
        background: $colorLightAlt;
        padding: 60px 60px 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        h2 {
            display: none;
        }

        a {
            color: inherit;
            transition: color 500ms;

            &:hover {
                color: $colorAccent;
            }
        }

        h3 {
            width: 100%;
            text-align: center;
            font-size: 1.9em;
            padding: 0 0 20px;
        }

        .btw {
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            padding: 0 0 50px;
        }

        .address,
        .email {
            width: 260px;
            position: relative;
            padding: 0 0 0 30px;

            &:before {
                content: " ";
                speak: none;
                display: block;
                position: absolute;
                top: 3px;
                left: 0;
                background: transparent no-repeat center center;
                background-size: contain;
                width: 16px;
                height: 16px;
            }
        }

        .address::before {
            background-image: url("../img/icn_address.svg");
        }

        .email::before {
            background-image: url("../img/icn_email.svg");
        }
    }
}

.button {
    user-select: none;
    position: relative;
    display: block;
    width: auto;
    margin: 20px;
    padding: 20px 30px;
    border: solid 3px $colorAccent;
    border-radius: 50px;
    background: transparent;
    color: $colorAccent;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1em;
    text-align: center;
    transition: color 400ms, background-color 400ms, padding 400ms;
    font-family: $source-sans;
    text-transform: lowercase;

    &.little {
        zoom: 0.8;
    }

    &:hover {
        color: $colorLight;
        background: $colorAccent;
        padding: 20px 43px 20px 17px;
    }

    &:active {
        opacity: 0.8;
    }

    &:hover::after {
        animation: arrow 1s infinite;
        opacity: 1;
    }

    &::after {
        content: "❯";
        display: inline-block;
        speak: none;
        position: absolute;
        top: 20px;
        right: 15px;
        font-size: 1.3em;
        opacity: 0;
        transition: opacity 400ms;
    }
}

.paragraph {
    width: 950px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 20px 0;
    font-family: $georgia;
    font-size: 1.3em;
    line-height: 1.7em;
    color: $colorDarkAlt;

    a {
        position: relative;
        display: inline-block;
        color: inherit;
        transition: color 500ms;

        &:hover {
            color: $colorSelection;
        }

        &::after {
            content: " ";
            speak: none;
            position: absolute;
            bottom: 3px;
            left: 0;
            display: block;
            width: 100%;
            font-size: 0.1em;
            border-bottom: dashed 1px $colorSelection;
        }
    }
}
/* --------------------------------------- */
#home main > section {
    position: relative;
    z-index: 101;
    width: 100%;
    margin: 0 auto;

    h2 {
        display: none !important;
    }
}
/* --------------------------------------- */
#home #activiteiten {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1500px;
    margin-top: -100px;

    .button {
        margin: 6px 69px 100px;
    }

    article {
        border-radius: 5px;
        position: relative;
        background: $colorLight;
        width: 375px;
        margin: 0 25px 50px;
        padding: 30px 40px 55px;
        transform: translateY(0);
        box-shadow: 0 0 0 0 $colorShadow;
        transition: box-shadow 750ms, transform 750ms;

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 0 50px 0 $colorShadow;
        }

        h3 {
            font-size: 1.6em;
            line-height: 1.4em;
            font-weight: 700;
            color: $colorDark;

            a {
                color: inherit;
                transition: color 250ms;

                &:hover {
                    color: $colorAccent;
                }
            }
        }

        time {
            position: absolute;
            bottom: 25px;
            left: 0;
            right: 0;
            display: block;
            text-align: center;
            text-transform: uppercase;
            font-size: 0.9em;
            color: #888;

            &::after,
            &::before {
                content: " — ";
                speak: none;
            }
        }
    }
}
/* --------------------------------------- */
#home #overAalmoezeniers {
    background: $colorLight;
    padding: 70px 0 0;
}

#home #overMatumainiKatanga {
    background: $colorLightAlt;
    padding: 70px 0 60px;
}

#home #overAalmoezeniers,
#home #overMatumainiKatanga {
    h3 {
        display: none;
    }

    .button {
        width: 260px;
        display: block;
        margin: 10px auto;
    }

    iframe {
        //video
        display: block;
        width: 100%;
        max-width: 1200px;
        height: 675px; // 16:9
        margin: 70px auto;
    }

    #team {
        display: flex;
        margin: 60px 0 30px;
        justify-content: center;
        flex-wrap: wrap;

        figure {
            display: inline-block;
            width: 200px;
            text-align: center;

            img {
                display: block;
                margin: 0 auto;
                width: 100px;
                height: 100px;
                object-fit: cover;
                clip-path: circle(50% at 50% 50%);
                transition: transform 500ms;
            }

            &:hover img {
                transform: scale(1.1);
            }

            figcaption {
                padding: 15px 0;

                em {
                    display: block;
                    font-weight: 700;
                }
            }
        }
    }

    #verwezelijkingen {
        background: $colorLightAlt;
        position: relative;
        margin: 80px 0 0;
        height: 400px;
        overflow: hidden;

        ul {
            position: absolute;
            z-index: 5;
            top: 0;
            left: 0;
            width: 100%;
            padding: 0 20px;
            border-bottom: solid 1px rgba(255, 255, 255, .15);
            background-color: $colorDark;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            li {
                cursor: pointer;
                display: block;
                padding: 15px 5px;
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                font-weight: 700;
                transition: opacity 500ms;
                text-align: center;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        #map {
            position: absolute;
            z-index: 1;
            top: 30px;
            right: 0;
            bottom: 0;
            left: 0;
            //
            // .mapboxgl-ctrl-bottom-left {
            //     display: none;
            // }
            //
            .mapboxgl-ctrl-top-right {
                margin-top: 20px;
            }

            .mapboxgl-ctrl-bottom-right {
                right: -255px;
                transition: right 500ms ease-in-out;

                &:hover {
                    right: 0;
                }
            }
        }

        article {
            background: $colorLight;
            width: 400px;
            padding: 25px;
            border-radius: 5px;
            transition: box-shadow 750ms;

            &:hover {
                box-shadow: 0 0 50px 0 $colorShadow;
            }

            h4 {
                font-family: $oswald;
                font-weight: 700;
                font-size: 1.5em;
                color: $colorDarkAlt;
                text-align: center;
                padding: 0 0 20px;
            }
        }
    }
}
/* --------------------------------------- */
#home #schenken {
    background: $colorDarkAlt;
    overflow: hidden;
    padding: 100px 0 0;

    .paragraph {
        color: $colorLight;
    }

    #giften {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 120px 20px 80px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        h3,
        h4 {
            display: none;
        }

        article {
            width: 100%;
            max-width: 550px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 0 50px;

            div {
                padding: 0 15px 20px 0;
                width: 50%;

                &:last-of-type {
                    width: 100%;
                }

                h5 {
                    color: $colorLightAlt;
                    text-transform: uppercase;
                    font-size: 0.8em;
                }

                p {
                    font-size: 1.2em;
                    color: $colorLight;
                }
            }

            > p {
                color: $colorLightAlt;
                padding: 0 0 20px;

                em {
                    display: block;
                    font-family: $georgia;
                    font-size: 1.6em;
                    padding: 5px 0;
                }
            }
        }
    }
}
/* --------------------------------------- */
#article #content {
    padding: 150px 0 70px;

    h2 {
        display: none;
    }
}

#archive #content,
#searchresults #content {
    padding: 70px 0;

    form {
        display: block;
        background: $colorLightAlt;
        margin: 0 0 100px;
        padding: 50px 0 40px;
        width: 100%;

        h2 {
            display: block;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 30px 20px;
            font-size: 3.4em;
            font-family: $georgia;
        }

        input[type=search] {
            display: block;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            background: transparent;
            border: none;
            border-bottom: 1px solid $colorLightAlt;
            color: $colorDarkAlt;
            font-size: 1.5em;
            font-family: $source-sans;
            padding: 10px 20px;
            transition: border-color 500ms;
            -webkit-appearance: none;

            &:hover {
                border-color: #ccc;
            }

            &:focus {
                border-color: $colorAccent;
            }
        }
    }
}

#archive #navigation,
#article #navigation,
#searchresults #navigation {
    background: $colorDarkAlt;
    padding: 50px 0;
}
/* --------------------------------------- */
main article.post {
    width: 100%;
    max-width: 800px;
    padding: 20px 20px 80px;
    margin: 0 auto;
    position: relative;

    h3 {
        font-size: 2.8em;
        line-height: 1.4em;
        font-weight: 700;
        padding: 20px 0;

        a {
            color: inherit;
            transition: color 250ms;

            &:hover {
                color: $colorAccent;
            }
        }
    }

    time {
        display: block;
        text-transform: uppercase;
        color: #888;
        font-size: 0.9em;
        position: relative;
        text-align: right;

        &::after {
            content: " ";
            speak: none;
            display: block;
            border-bottom: solid 1px #ccc;
            position: absolute;
            top: 10px;
            left: 0;
            width: calc(100% - 120px);
        }
    }

    blockquote {
        border-left: solid 10px $colorLightAlt;
        margin-top: 35px;
        padding: 0 10px 0 40px;
        position: relative;

        &::after {
            content: "”";
            position: absolute;
            bottom: 5px;
            right: 5px;
            font-family: $georgia;
            font-size: 180px;
            color: $colorLightAlt;
        }

        p {
            padding: 15px 0;
            font-style: italic;
        }
    }

    ul {
        margin-left: 25px;
        list-style-type: circle;
    }

    ol {
        margin-left: 25px;
        list-style-type: decimal;
    }

    li {
        padding-bottom: 10px;
    }

    ol,
    p,
    ul {
        font-size: 1.4em;
        line-height: 1.6em;
        padding: 35px 0 0;
        font-family: $georgia;

        &.lightbox {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-top: 18px;

            a {
                padding: 2px;
                width: 33%;
                height: 170px;

                &.banner {
                    padding: 0;
                    width: 100%;
                    height: 360px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}